* {margin: 0;padding: 0}
#hc_srch *,#hc_srch {box-sizing: border-box}
#hc_srch {background: #00AEEF;font-family: "Open Sans", HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}
#hc_srch .mid_wrp {box-sizing: border-box;font-weight: 400;font-style: normal;line-height: 24px;font-size: 18px;max-width: 1230px;	padding: 0 15px;margin: 0 auto}
#hc_srch .srch .sbs {box-sizing: border-box;background-color: #fff;transition: border linear .2s, box-shadow linear .2s;display: block;	padding: 10px;border: 0;font-family: inherit;font-size: 14px;width: 100%;height: 50px;float: left;vertical-align: middle;border-radius:50px;}
/*B code starts*/
.hcdn{display:none !important;}
#hc_srch.hcdest{border:0;width:659px;}
#hc_srch.hcdest .srch_bar{margin-top:0;margin-bottom:30px;}
#hc_srch.hcdest .txt_cnt{font-size:19px;}
#hc_srch.hcdest .srch .sbn{width:82px;font-size:15px;}
#hc_srch.hcdest .fr_tb .slv {width:calc(100% - 470px);}
#hc_srch.hcdest #institutionTabContent .slv {width:calc(100% - 375px);}
#hc_srch.hcdest #scholarshipTabContent.fr_tb .slv {width:calc(100% - 517px);}
#hc_srch.hcdest {border: 0;width: 100%;}
#hc_srch.hcdest .srch {padding: 0;}
section#find .container { width: 100% !important; }
@media only screen and (max-width: 768px) and (min-width: 0){
#hc_srch.hcdest{width: 100%;}
#hc_srch.hcdest .fr_tb .slv, #hc_srch.hcdest #institutionTabContent .slv, #hc_srch.hcdest #scholarshipTabContent.fr_tb .slv{width: 100%;}
#hc_srch.hcdest .srch .sbn {width: 100%;}
#hc_srch.hcdest .srch {padding: 0;}}
@media only screen and (max-width: 1024px) and (min-width: 769px){
#hc_srch.hcdest .fr_tb .slv{width: calc(100% - 72%);}
#hc_srch.hcdest #institutionTabContent .slv {width: calc(100% - 57%);}
#hc_srch.hcdest #scholarshipTabContent.fr_tb .slv {width: calc(100% - 79%);}	
#hc_srch.hcdest .srch {padding:  0;}}
/*B code - end*/
#hc_srch .srch {border: 0;margin: 0;padding: 0}
#hc_srch .fld {width: 100%;float: left}
#hc_srch .srch {padding: 28px 0 55px 0}
#hc_srch label.dbn {position: absolute;height: 1px;width: 1px;overflow: hidden;clip: rect(1px 1px 1px 1px);display: block}
#hc_srch .srch label {width: auto;display: inline-block}
#hc_srch .slv {margin: 0 0.9% 0 0;width: calc(100% - 71%);display: block;float: left;position: relative;/* vertical-align:top; */}
#hc_srch .srch .sbn {vertical-align: top;width: 10%;padding: 9px;background: #24408E;border: 0;transition: border linear .2s, box-shadow linear .2s;color: #fff;height: 50px;font-size:14px;font-family: "AU-Text-Bold","Helvetica Neue",helvetica,arial,sans-serif !important;	float: left;display: block;cursor: pointer;outline: none !important;-webkit-appearance: none;border-radius: 50px;text-transform:uppercase;letter-spacing:2px;}
#hc_srch .srch .sbn:hover {background: #000}
#hc_srch .clr {clear: both}
#hc_srch .slt .spn {position: absolute;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 100%;right: 0;transition: border linear .2s, box-shadow linear .2s;top: 0;padding: 0 25px 0 10px;border-radius:50px;color: #173f35;}
#hc_srch .slt select {position: absolute;top: 0;width: 100%!important;right: 0;border: 0;margin: 0;border-radius: 2px;height:50px!important;font: inherit;box-sizing: border-box!important;opacity: 0;cursor: pointer;-webkit-appearance: none;	-moz-appearance: none;appearance: none;padding: 10px}
#hc_srch .slt {font-size: 14px;min-width: 140px;line-height: 50px;padding: 0 10px;float: left;width: 100%;position: relative;cursor: pointer;height: 50px;background: #fff;transition: border linear .2s, box-shadow linear .2s;border-radius:50px;}
#hc_srch .fnt_bld {font-weight: 600}
#hc_srch .slt span img {position: absolute;right: 10px;top: 18px;width: 14px}
#hc_srch .hdn_lnk {color: #fff;font-weight: 700;font-size: 60px;line-height: 81px;text-decoration: none;display: inline-block;	margin-bottom: 15px;float: right}
#hc_srch .hdn_lnk small {font-size: 24px;line-height: 24px;font-weight: normal}
#hc_srch .ajx_div {overflow-y: auto!important;box-sizing: border-box;border: 1px solid #c3c3c3;display: none;max-height: 300px;	position: absolute;z-index: 10!important;height: auto!important;background: #fff;width: 90%;top: 50px;left: 5%;color: #2c2c42}
#hc_srch .ajx_div ul li {font-size: 14px;line-height: 24px}
#hc_srch .ajx_div ul li:hover {color: #f9f9f9!important;background: rgb(23, 63, 53) !important;}
#hc_srch .txt_cnt {color: #25408F;font-size: 22px}
#hc_srch .act .txt_cnt {color: #fff;}
#hc_srch .srch_bar .srch_tab {display: inline-block;text-align: left;cursor: pointer;margin-right: 46px;padding: 0 0 2px;position:relative;border-bottom: 2px solid #00aeef}
#hc_srch .srch_tab.act {border-color: #333}
#hc_srch .srch_bar {margin: 36px 0 0;}
#hc_srch .tab_cnt {width: auto;float: left}
#hc_srch .out_ln {outline: 0px solid #173F35!important;box-shadow: 0 0 0px 1px #173F35;outline-offset: -1px;}
#hc_srch .sbn.out_ln {box-shadow: inset 0 0 0px 2px #ccc}
#hc_srch .ck_pd {position: absolute;top: 52px;left: 0;border: 1px solid #bdbdb9;border-top: 0;width: 100%;z-index: 99;background: #fff;
box-sizing: content-box!important}
#hc_srch .tp_ins {left: -9999px;}
/* #hc_srch .chbxh[type="checkbox"]:not(:checked),
#hc_srch .chbxh[type="checkbox"]:checked {position: absolute;left: -9999px}
#hc_srch .chbxh[type="checkbox"]:not(:checked)+label,
#hc_srch .chbxh[type="checkbox"]:checked+label {position: relative;cursor: pointer}
#hc_srch .chbxh[type="checkbox"]:not(:checked)+label:before,
#hc_srch .chbxh[type="checkbox"]:checked+label:before {content: '';position: absolute;left: 10px;top: 12px;width: 20px;border-radius: 4px;height: 20px;border: 2px solid #bdbdb9;background: #fff}
#hc_srch .chbxh[type="checkbox"]:checked+label:before {border-color: #173F35 !important}
#hc_srch .chbxh[type="checkbox"]:not(:checked)+label img,
#hc_srch .chbxh[type="checkbox"]:checked+label img {position: absolute;top: 5px;left: 10px;width: 30px;transition: all .2s} */
#hc_srch .chbxh[type=checkbox]:checked + #hc_srch .chbxh[type=checkbox]:checked + label img:after{width: 30px;opacity: 1;}
#hc_srch .srch .sbs::-moz-placeholder {line-height: 30px}
#hc_srch .chbxh[type="checkbox"]:not(:checked)+label img {transform: scale(0);opacity: 0}
#hc_srch .chbxh[type="checkbox"]:checked+label img {transform: scale(1);opacity: 1}
#hc_srch .frm_ck label:hover:before,#hc_srch .chbxh[type="checkbox"]:focus+label:before {border-color: #173F35 !important}
#hc_srch .chk_grp label {padding: 10px 10px 14px 40px;margin: 0;font-size: 15px;width: 100%;font-weight: 400;text-transform: inherit;	line-height: 26px;display: block}
#hc_srch .fr_tb .slv {width: calc(100% - 80%);}
#hc_srch .exp_lnk {color: #fff;font-size: 18px;font-weight: normal;letter-spacing: -0.3px;text-decoration: underline;padding: 15px 0 0;
display: inline-block}
#hc_srch .exp_lnk .al_ar {width: 14px;vertical-align: middle;margin-left: 5px;}
/* Css Starts here australia */
#hc_srch .txt_cnt {color: #25408F;font-size: 22px;}
.padding-top-full.padding-bottom-full.hp_lk{border-bottom: 1px solid #e5e5e5;}
#hc_srch .qqq{font-size: 17px;font-weight: 800;font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;}
#hc_srch .hdn_lnk{border-bottom: 0;}
#hc_srch .qqq:hover{text-decoration: underline;}
.cs_aus.sh_rst .container {max-width: inherit;}
.cs_aus.sh_rst{border-bottom: 1px solid #e5e5e5;}
.brd_crm.aus_bdm a:hover{text-decoration:underline;}
.cs_aus.sr_dtl{border-bottom: 1px solid #e5e5e5;}
#hc_srch .srch .sbs,#hc_srch #lvl_stu,#hc_srch #fld_stu,#hc_srch #loc {font-size: 15px;}
#hc_srch .srch .sbs{font-size: 15px;}
#hc_srch .srch .sbs{font-size: 15px;}
#hc_srch .vi_bt,.cs_aus #hc_srch .enq_btn{font-size: 17px;letter-spacing: 0.5px;}
#hc_srch .ins_sr .sr_p {padding: 10px 0 25px;margin: 0 0 20px;}
#hc_srch .mt15 {margin-top: 23px;}
#hc_srch .fnt_15 {font-size: 16px;}
.cs_aus.sh_rst #hc_srch .mid_wrp {box-sizing: border-box;font-weight: 400;font-style: normal;line-height: 24px;font-size: 18px; max-width: 1230px;padding: 0 34px;margin: 0 auto;}
.cs_aus.sh_rst #mid_wrp{max-width: 1170px;margin: 0 auto;}
#hc_srch .exp_lnk .al_ar {width: 10px;}
.sh_rst #hc_srch .srch {padding: 21px 0 50px;background: #f8f8f8;}
/*.cs_aus.pg_white #hc_srch .srch{padding: 31px 0 0px 0;}*/
#find #hc_srch .srch {padding: 0 0 20px 0;}
.soc_icn{margin-right: 25px;}
#hc_srch .hdn_lnk .ch_cous{cursor: default;}
#hc_srch .hdn_lnk .ch_cous img{margin-right: 5px;}
#find #hc_srch .mid_wrp{padding: 0 34px;}
#hc_srch .hdn_lnk small {font-size: 30px;}
.padding-bottom-full.cs_aus.pg_white {padding-bottom: 55px;padding-top: 67px;}
#hc_srch .srch_bar .srch_tab {margin-right: 41px;}
#hc_srch .exp_lnk {font: 16px "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;}
#hc_srch .srch .sbn {height: 52px;}
#hc_srch .slv {border:1px solid #d5d5d5;}
.sh_rst #mid_wrp{/*border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5; */	}
.sh_rst .artPg .prev a{border-radius: 4px;background: #333;}
#hc_srch .sbn.cncl{border-bottom:none!important;}
.cs_aus.sh_rst .cmn_wrp h2.univ_tit {margin: 0px 0 25px;}
.cs_aus.sh_rst .univ_tit{padding: 0;}
.cs_aus.sh_rst .cmn_wrp .univ_tit {line-height: 38px;margin: 0px 0 5px;}
/* .cs_aus.sh_rst .fl_w100 strong{display: inline-block;width: 160px;font-size: 16px;} */
.sh_rst .pr_pagn .artPg ul li.prev:hover{opacity: 0.8;}
#hc_srch .hdn_lnk {font-size: 41px;line-height: 1.2;border-bottom: none;}
#find #hc_srch{background:none;border-bottom: inherit;}
#find .srch{background:none;}
#hc_srch .exp_lnk,#hc_srch .hdn_lnk,#hc_srch .act .txt_cnt,#hc_srch .txt_cnt,#hc_srch .act .txt_cnt{color: #222;}
#hc_srch .cd_hd:hover {text-decoration: underline;}
/* #page-content .cs_aus #hc_srch .exp_lnk,#page-content .cs_aus #hc_srch .hdn_lnk,.cs_aus #hc_srch .act .txt_cnt,.cs_aus #hc_srch .txt_cnt,.cs_aus #hc_srch .act .txt_cnt{
color: #222;
} */
#hc_srch .txt_cnt{color: #222;}
#hc_srch .cmn_wrp{min-height: inherit;}	
#hc_srch .srch .sbn{color: #fff;border-color:#173F35;background: #173F35;}
#hc_srch .srch .sbn:hover{border-color:#216644;background:#216644;}
body #hc_srch .srch_tab.act {border-color: #ED9B30;}
#hc_srch .srch_bar .srch_tab{border-bottom: 3px solid transparent;}
#hc_srch .srch_bar{font: 16px "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;margin-top:25px;}
#hc_srch .hdn_lnk,#hc_srch .exp_lnk,#hc_srch .srch .sbn,#hc_srch .srch .sbs,#hc_srch .slt select,#hc_srch .slt .spn{font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;}
/* #page-content .cs_aus #hc_srch .hdn_lnk,#page-content .cs_aus #hc_srch .exp_lnk,.cs_aus #hc_srch .srch .sbn,.cs_aus #hc_srch .srch .sbs,.cs_aus #hc_srch .slt select,#.cs_aus #hc_srch .slt .spn{font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;
} */
/* Css Ends here australia */
/* Css starts here search detail page */
.sr_dtl #mid_wrp{padding: 0;margin: 0;max-width: 100%;}
.cs_aus.sr_dtl h1.cd_hd{padding:0;}
.sr_dtl .cmn_wrp {margin: 0 auto;padding: 40px 70px;font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;}
.sr_dtl .btns .enq_btn:hover{color: #000;border-color: #ED9B30;background: #ED9B30;	}
.sr_dtl a:not(.btn),.sr_dtl a:not(.btn):link,.sr_dtl a:not(.btn):active{border-bottom: none;}
/* #page-content .sr_dtl a:not(.btn), #page-content .sr_dtl a:not(.btn):link, #page-content .sr_dtl a:not(.btn):active{
border-bottom: none;}*/
.sr_dtl .btns .vi_bt{color: #fff;border-color: #F39D43;background: #F39D43;}
.sr_dtl .btns .vi_bt.vi_all{background: #a9b6be;}
.sr_dtl .btns .vi_bt.vi_all:hover{background: #BAC4CA;}
.sr_dtl .btns .vi_bt:hover{background: #F0AE59;	}
/* Css ends here search detail page */
@media only screen and (max-width: 641px){
.cs_aus .adrs address {width: 100%!important;}}
@media only screen and (max-width:768px) {
	/* Css starts here search detail page */
#hc_srch .bk_sr .lft_arr {top: -6px;left: -20px;position: absolute;}
#hc_srch .srch_bar .srch_tab {border-bottom: 3px solid transparent;	}
body #hc_srch .srch_tab.act{padding-bottom: 0;}
.cs_aus.sh_rst .fl_w100 strong {width: 150px;}
.cs_aus.sr_dtl .ovnus{line-height: 1.8;}
#hc_srch .pr_pagn {padding: 0;}
.cs_aus.sh_rst #hc_srch .mid_wrp {padding: 0 20px;}
#hc_srch .sr_tit {font-size: 28px!important;padding: 0 0px 13px;}
#hc_srch .rge_tx {padding: 0 0px 25px;}
#hc_srch .sr_p,#hc_srch .ins_sr .sr_p {padding: 10px 0px 0;margin-bottom: 20px;}
#hc_srch .tab_cnt {width: 100%;overflow-x: auto;overflow-y: hidden;height: 52px;}
#hc_srch .srch {padding: 5px 0 50px;}
.hmenu.menu46.muct .moved{display:none;}
#find.padding-top-full.padding-bottom-full{background: #fff;}
/* Css ends here search detail page */
	#hc_srch .srch {padding: 20px 5px;}
	#hc_srch .srch .sbn,#hc_srch .fld {width: 100%;	}
	#hc_srch .txt_bx {width: 100%;margin-bottom: 15px}
	#hc_srch .hdn_lnk {font-size: 40px;margin-top: 15px;line-height: 40px;float: left}
	#hc_srch .hdn_lnk small {font-size: 18px;line-height: 18px}
	#hc_srch .slv,#hc_srch .fr_tb .slv {margin: 0 0 20px;width: 100%}
	#hc_srch .srch_bar {
		width: 100%;
		display: inline-block;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		float: none;
		white-space: nowrap
	}
	#hc_srch .tab_cnt {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		height: 42px
	}
	#hc_srch .srch_bar .srch_tab {
		margin-right: 20px
	}
	#hc_srch .exp_lnk {
		font-size: 16px
	}
}

@media only screen and (max-width:768px) and (min-width:481px) {
	#hc_srch .slv,
	#hc_srch .fr_tb .slv {
		margin-bottom: 25px
	}
}

@media only screen and (min-width:577px) and (max-width:768px) {
	#hc_srch .hdn_lnk {
		margin-bottom: 20px
	}
	#hc_srch .tab_cnt {
		overflow: inherit;
		height: auto;
		width: auto
	}
}

@media only screen and (min-width:769px) and (max-width:1024px) {
	#hc_srch .fld {
		width: 100%
	}
	#hc_srch .srch {
		padding: 35px 15px
	}
}
@media only screen and (max-width:768px){

.hmenu.menu46.muct .moved{
display:block;
}
.cs_aus.aus_enq #hc_srch{
    padding: 0!important;
}
.cs_aus.sr_dtl #hc_srch .bk_sr .lft_arr{
    top: -1px!important;
}			
}
@media only screen and (min-width :769px) and (max-width :1024px){
	.cs_aus.aus_enq .hcl{
	margin: 0px 0 0 30px!important;
	padding: 0 20px 20px 20px!important;
}
.cs_aus.sr_dtl .cmn_wrp{
padding: 40px 35px;
}
.cs_aus.aus_enq .cmn_wrp {
padding: 40px 0px!important;
}

}
.aus_enq .container {
padding: 0;
}
.aus_enq #mid_wrp{
padding: 0;
margin: 0;
max-width: 100%;	
}
.cs_aus.sr_dtl .lnk_hrd a:hover{
	    text-decoration: underline;
}
.cs_aus.sh_rst.in_spg .vi_bt.vi_all{
    background: #a9b6be;
}
.cs_aus.sh_rst.in_spg .vi_bt.vi_all:hover{
    background: #BAC4CA;
}
.cs_aus.sr_dtl #hc_srch .cr_mid p a{
text-decoration: underline;
}
.cs_aus.sr_dtl #hc_srch .cr_mid p a:hover{
text-decoration: none;
}
.aus_enq .cmn_wrp{
margin: 0 auto;
padding: 40px 70px;
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.aus_enq .mntry {
margin-top: 23px;
}
/* #page-content .aus_enq a:not(.btn),#page-content .aus_enq a:not(.btn):link,#page-content .aus_enq a:not(.btn):active{
border-bottom: none;	
} */
.aus_enq a:not(.btn),.aus_enq a:not(.btn):link,.aus_enq a:not(.btn):active{
border-bottom: none;	
}
.aus_enq .enq_pg #subButton {
color: #fff;
border-color: #471336;
background: #471336;
}
.aus_enq .enq_pg .sbn.cncl,.aus_enq .enq_pg #subButton,.cs_aus.aus_enq .hcl .tb_cl .cll,.cs_aus.aus_enq .tb_cl .cll,.cs_aus.aus_enq .tb_cl .cllr,.cs_aus.aus_enq .prs .cgd{
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.aus_enq .enq_pg #subButton:hover {
color: #fff;
border-color: #350E28;
background: #350E28;
}
.aus_enq.padding-bottom-full {
padding-bottom: 40px;
padding-top: 40px;
}

.cs_aus.sr_dtl .cr_mid th,.cs_aus.sr_dtl .cr_mid td{
    padding: 15px;	
}
.cs_aus.pg_white #mid_wrp{
    display: none;	
}
.cs_aus .sr_tit{
    font-size: 48px;
    font-weight: normal;	
}
#hc_srch p{
  font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	 	
}
.cs_aus.sr_dtl #hc_srch .slr_tbl td,.cs_aus.sr_dtl .cr_mid p,.cs_aus.sr_dtl .cr_mid ol,.cs_aus.sr_dtl .cr_mid ul{
	font-size: 16px;
}

.cs_aus.sh_rst.no_rst{
border-bottom:1px solid #e5e5e5;
}
/* #page-content .cs_aus.sh_rst.no_rst{
border-bottom:1px solid #e5e5e5;
} */
.cs_aus.aus_enq .prs .cgd{
font-size: 18px;
}
.sh_rst #mid_wrp{
padding: 0;
margin: 0;
max-width: 100%;	
}
.sh_rst .cmn_wrp {
margin: 0 auto;
padding: 40px 0px;
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.sh_rst .btns .enq_btn {
color: #fff;
border-color: #471336;
background: #471336;
border-bottom: none;
}
.sh_rst .btns .enq_btn:hover{
color: #fff;
border-color: #350E28;
background:  #350E28;  
}
.sh_rst .vi_bt{
color: #000;
border-color: #A5905B;
background: #A5905B;
border-bottom: none;	
}
.sh_rst .log_wrp .vi_bt.vi_all {
background: #a9b6be; 
}
.sh_rst .artPg .nxt a:hover,.sh_rst .artPg ul li.active,.artPg ul li:hover{
opacity:0.8;
}
.sh_rst .vi_bt:hover{
background: #CEB888; 	
}
.sh_rst a:not(.btn),.sh_rst a:not(.btn):link,.sh_rst a:not(.btn):active{
border-bottom: none;	
}
/* #page-content .sh_rst a:not(.btn), #page-content .sh_rst a:not(.btn):link, #page-content .sh_rst a:not(.btn):active{
border-bottom: none;	
} */
.sh_rst .artPg .nxt a,.sh_rst .artPg ul li.active,.artPg ul li:hover{
color: #fff;
    background: #333;
}
/* new css ends here */
/* Institution_search_results css starts here */
.sh_rst.in_spg .btns .vi_bt.vi_all {
background: #a9b6be;
}
#hc_srch .sr_p.lst_sr{
margin: 0;	
}
#hc_srch .artPg ul {
margin: 15px auto 15px;
padding: 0;
float: left;
width: 100%;
}
#hc_srch .pr_pagn {
border-top: 1px solid #ccc;
padding-top: 18px;
padding-bottom: 19px;
}
#find.padding-top-full{
padding-top: 0!important;	
}
#hc_srch,#hc_srch .cmn_wrp .cd_tit,#hc_srch .slr_tbl td{
font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;
}
.brd_crm.aus_bdm.whi_bg{
background: #fff;	
padding: 22px 0 10px;
}
.aus_enq #hc_srch.wrp {
border-bottom:1px solid #e5e5e5;
}
.cs_aus.aus_enq .hcl .enq_hdr {
padding: 0 0 6px 0;
}
.cs_aus.aus_enq .hcl {
border: 0px solid #ccc;
}
#hc_srch .slr_tbl td,.cs_aus.sr_dtl .cr_mid ul,.cs_aus.sr_dtl #hc_srch .slr_tbl td, .cs_aus.sr_dtl .cr_mid p, .cs_aus.sr_dtl .cr_mid ol, .cs_aus.sr_dtl .cr_mid ul,.cs_aus .adrs address{
line-height: 28px;
}
.cs_aus.sr_dtl .mrvnu.rel_fld:before{
content: "\e800";
font-family: 'fontello';
font-size: 150%;
text-indent: 0;
top: 8px;
right: 2px;
padding: 0;
margin: 0;
line-height: 100%;	
}
.cs_aus.sr_dtl .cr_mid .rel_fld {
padding: 10px 35px 10px 10px;
}
.cs_aus.sr_dtl .cmn_wrp,.cs_aus.aus_enq .cmn_wrp{
padding:40px 0px;
} 
.cs_aus.sr_dtl .container,.cs_aus.aus_enq .container {
padding-right: 4px;
padding-left: 4px;
}
.cs_aus.aus_enq .enq_msg a:hover{
border-bottom: 1px solid #222!important;
}
.cs_aus.aus_enq .enq_msg a
 {
border-bottom:none;
 }

.cs_aus.sr_dtl .prtp {
padding-bottom: 40px;
}
.cs_aus.sr_dtl .mrvnu.rel_fld:hover::before {
color: #ED9B30;
}
.cs_aus .bk_sr .lft_arr {
top: -6px;
left: -20px;
position: absolute;
}
.cs_aus.sr_dtl .cd_pg .tb_cl .cllr,.cs_aus.sr_dtl .cd_pg .tb_cl .cll{
font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.cs_aus.sr_dtl .container .row,.cs_aus.aus_enq .container .row{
margin-right: 0;
margin-left: 0;
}
@media only screen and (max-width:768px){
	.cs_aus.sh_rst.in_spg .fl_w100 strong{
    width: 150px!important;
}
.cs_aus.sr_dtl .container .row{
margin-right: 0;
margin-left: 0;
}
}
/* Institution_search_results css ends here *//* css for footer changes starts here */
.cs_aus.bg-shade.align-center.intro .container.sec2{
margin: 0;
width: 100%;
padding: 0;
max-width: inherit;
background: #fff;
}
.cs_aus.bg-shade.align-center.intro .container.sec2 .row{
padding:60px 0;
}
.cs_aus.bg-shade.align-center.intro .container.sec1{
margin-bottom:60px;
}
.intro .container.sec2::after{
background: none;
margin: 0;
width: inherit;
height: inherit;	
}
.padding-bottom-full.cs_aus.bg-shade.align-center.intro{
padding-bottom: 0;
border-bottom: 1px solid #e5e5e5;
}
.cs_aus .mid_wrp ol li::before{
left: -17px;
}
.hmenu.menu46.muct .moved{
display:none;
}
#hc_srch .adrs address{
padding: 10px;
background: #EEEEF0;
margin: 0 2% 20px 0;
font-style: normal;
width: 48%;
float: left;
min-height: 160px;	
}

#main-nav .hmenu.menu46.muct>li>.toggle {
display: none;
}
#main-nav .hmenu.menu46.muct>li>.toggle::after {
content: "\f078";
font-family: FontAwesome;
font-weight: 900;
color: #222;
font-size: 12px;
padding-left: 5px;
}
@media only screen and (min-width :769px) and (max-width :1024px){
	.cs_aus.sh_rst.in_spg #hc_srch .mid_wrp .sr_p.brd_btm .sr_cont a.vi_all:last-child {
    margin-top: 0px!important;
}
.navbar.bg-section.stick .icon-menu{
    position: absolute;
    top: 31px!important;
    right: 30px;
    margin: 0;	
}	
}
@media (max-width: 991px) and (min-width: 0){

	
	
#main-nav .hmenu.menu46.muct>li>a{
width:calc(100% - 40px);
}
#main-nav .hmenu.menu46.muct>li>.toggle::after {
padding: 0!important;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
display: block;
right: 21px;
top: 10px;
position: absolute;
}
#main-nav .hmenu.menu46.muct>li>.toggle {
display: block;
float: right;
width: 20px;
height: 20px;
}
#main-nav .hmenu.menu46.muct>li>.toggle.open::after {
content: "\f077";
padding-right: 5px;
padding-left: 0;
}
}
@media only screen and (max-width:768px){
	.cs_aus.sh_rst.in_spg #hc_srch .mid_wrp .sr_p.brd_btm .sr_cont a.vi_all:last-child {
    margin-top: 0px!important;
}	
.hmenu.menu46.muct .moved{
display:block;
}
}

/* Course finder page css starts here australia */

section#find #hc_srch{
font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
#hc_srch .txt_cnt {
color: #25408F;
font-size: 22px;
}
section#find #hc_srch .srch {    
	padding: 28px 0 0 0;
}
/*section#find #hc_srch .mid_wrp {
    padding: 0 15px;
}*/
section#find #hc_srch .srch .fld {
    padding-top: 0px;
}
.padding-top-full.padding-bottom-full.hp_lk{
border-bottom: 1px solid #e5e5e5;	
}
#hc_srch .qqq{
font-size: 17px;
font-weight: 800;
font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;
}
#hc_srch .hdn_lnk{
border-bottom: 0;
}
#hc_srch .qqq:hover{
text-decoration: underline;	
}
.cs_aus.sh_rst .container {
max-width: inherit;
}
.cs_aus.sh_rst{
border-bottom: 1px solid #e5e5e5;	
}
.brd_crm.aus_bdm a:hover{
text-decoration:underline;
}
.cs_aus.sr_dtl{
border-bottom: 1px solid #e5e5e5;	
}
#hc_srch .srch .sbs,#hc_srch #lvl_stu,#hc_srch #fld_stu,#hc_srch #loc {
font-size: 14px;
}
#hc_srch .srch .sbs{
font-size: 14px;
}
#hc_srch .vi_bt,#hc_srch .enq_btn{
font-size: 17px;
letter-spacing: 0.5px;
}
#hc_srch .ins_sr .sr_p {
padding: 10px 0 25px;
margin: 0 0 20px;
}
#hc_srch .mt15 {
margin-top: 23px;
}
#hc_srch .fnt_15 {
font-size: 16px;
}
.cs_aus.sh_rst #hc_srch .mid_wrp {
box-sizing: border-box;
font-weight: 400;
font-style: normal;
line-height: 24px;
font-size: 18px;
max-width: 1230px;
padding: 0 34px;
margin: 0 auto;
}
.cs_aus.sh_rst #mid_wrp{
max-width: 1170px;
margin: 0 auto;	
}
#hc_srch .exp_lnk .al_ar {
width: 10px;
}
.sh_rst #hc_srch .srch {
padding: 21px 0 50px;
background: #f8f8f8;
}
#hc_srch .srch {
padding: 0 0 20px 0;
}
.soc_icn{
margin-right: 25px;
}
#hc_srch .hdn_lnk .ch_cous{
cursor: default;
}
#hc_srch .hdn_lnk .ch_cous img{
margin-right: 5px;
}
#hc_srch .mid_wrp{
padding: 0
}
#hc_srch .hdn_lnk small {
font-size: 30px;
}
#find.padding-top-full.padding-bottom-full{
    padding-top: 0!important;
    padding-bottom: 60px;
}
#hc_srch .srch_bar .srch_tab {
margin-right: 41px;
}
#hc_srch .exp_lnk {
font: 16px "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;
}
#hc_srch .srch .sbn {
height: 52px;
}
#hc_srch .slv {
border: 1px solid #CEB888;
border-radius: 50px;
}
.sh_rst .artPg .prev a{
border-radius: 4px;
background: #333;	
}
.cs_aus.sh_rst .cmn_wrp h2.univ_tit {
    margin: 0px 0 25px;
}
.cs_aus.sh_rst .univ_tit{
padding: 0;	
}
#find.cs_aus.aus_enq #hc_srch #mid_wrp{
padding: 0;	
}
.sh_rst .log_wrp .vi_bt.vi_all:hover{
    background:#BAC4CA;	
}
#hc_srch h1.cd_hd:hover {
    text-decoration: none;
}
#hc_srch .bk_sr a{
text-decoration: underline;
    font-size: 15px;	
}
#hc_srch .bk_sr a:hover{
text-decoration: none;	
}
.cs_aus.sh_rst .cmn_wrp .univ_tit {
    line-height: 38px;
    margin: 0px 0 5px;}
/* }
.cs_aus.sh_rst .fl_w100 strong{
    display: inline-block;
       width: 160px;
    font-size: 16px;	
} */
.sh_rst .pr_pagn .artPg ul li.prev:hover{
opacity: 0.8;	
}
#hc_srch .hdn_lnk {
font-size: 33px;
line-height: 1.2;
border-bottom: none;
font-family: "AU-Text-Bold","Helvetica Neue",helvetica,arial,sans-serif;
color:#173F35;
}
#hc_srch{
background:none;	
border-bottom: inherit;
}
.cs_aus .srch{
background:none;	
}
#hc_srch .exp_lnk,#hc_srch .hdn_lnk,#hc_srch .act .txt_cnt,#hc_srch .txt_cnt,#hc_srch .act .txt_cnt{
color: #173F35;
}
#hc_srch .txt_cnt {
    color: #173F35;
    font-weight: bold;
}
#hc_srch .cmn_wrp{
min-height: inherit;
}	
#hc_srch .srch .sbn{
color: #fff;
border-color: #173F35;
background: #173F35;	
}
#hc_srch .srch .sbn:hover{
border-color: #216644;
background: #216644;
}
body #hc_srch .srch_tab.act {
border-color: #173F35;
}
#hc_srch .srch_bar .srch_tab{
border-bottom: 3px solid transparent;
}
#hc_srch .srch_bar{
font: 16px "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;
margin-top:5px;
}
#hc_srch .exp_lnk,#hc_srch .srch .sbn,#hc_srch .srch .sbs,#hc_srch .slt select,#hc_srch .slt .spn{
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
#hc_srch .srch .sbs::placeholder{color:#216644;opacity:1;}
#hc_srch .srch .sbs:-ms-input-placeholder{color:#216644}
#hc_srch .srch .sbs::-ms-input-placeholder{color:#216644}
.cs_aus.sr_dtl h1.cd_hd{
padding:0;
}
.sr_dtl .cmn_wrp {
margin: 0 auto;
padding: 40px 70px;
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.sr_dtl .btns .enq_btn{
color: #fff;
border-color: #173F35;
background: #173F35;
border-bottom: none;	
}
.sr_dtl .btns .enq_btn:hover{
color: #fff;
border-color: #216644;
background: #216644;	
}
#find.cs_aus.sr_dtl #hc_srch .mid_wrp{
padding: 0px!important;
}
.sr_dtl a:not(.btn),.sr_dtl a:not(.btn):link,.sr_dtl a:not(.btn):active{
border-bottom: none;	
}

.sr_dtl .btns .vi_bt.vi_all{
background: #a9b6be;	
}
.sr_dtl .btns .vi_bt.vi_all:hover{
background: #BAC4CA;	
}
.sr_dtl .btns .vi_bt:hover{
opacity:0.8;	
}
/* Css ends here search detail page */
@media only screen and (max-width: 641px)
{
#hc_srch .adrs address {
width: 100%!important;
}
}
@media only screen and (max-width:768px) {
	/* Css starts here search detail page */
	.cs_aus.sr_dtl #hc_srch{
    padding: 0!important;
	 }
	.cs_aus.sh_rst .fl_w100 strong {
width: 110px!important;
}
section#find #hc_srch {
padding: 0 20px;
}
.cs_aus.sh_rst #hc_srch{
	padding: 0!important;
}
.cs_aus.sh_rst #hc_srch .srch {
    padding: 0px 0 55px 0!important;
}
.cs_aus.sh_rst #hc_srch .mid_wrp {
    padding: 0 20px!important;
}
#hc_srch .srch_bar .srch_tab {
border-bottom: 3px solid transparent;	
}
body #hc_srch .srch_tab.act{
padding-bottom: 0;	
}
.cs_aus.sh_rst .fl_w100 strong {
width: 150px;
}
.cs_aus.sr_dtl .ovnus{
line-height: 1.8;	
}
.cs_aus .pr_pagn {padding: 0;}
.cs_aus.sh_rst #hc_srch .mid_wrp {padding: 0 20px;}
#hc_srch .sr_tit {font-size: 28px!important;padding: 0 0px 13px;
}
#hc_srch .rge_tx {
padding: 0 0px 25px;
}
#hc_srch .sr_p,#hc_srch .ins_sr .sr_p {
    padding: 10px 0px 0;
    margin-bottom: 20px;
}
#hc_srch .tab_cnt {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 52px;
}
#hc_srch .srch {
padding: 5px 0 50px;

}
.hmenu.menu46.muct .moved{
display:none;
}
}
@media only screen and (max-width:768px){
.hmenu.menu46.muct .moved{
display:block;
}			
}
@media only screen and (min-width :769px) and (max-width :1024px){
section#find #hc_srch {
padding: 0 20px;
}
.cs_aus.sr_dtl .cmn_wrp, .cs_aus.aus_enq .cmn_wrp {
padding: 40px 35px;
}
#find #hc_srch .mid_wrp {
padding: 0 20px!important;
}
}
.aus_enq .container {
padding: 0;
}
.aus_enq #mid_wrp{
padding: 0;
margin: 0;
max-width: 100%;	
}
.aus_enq .cmn_wrp{
margin: 0 auto;
padding: 40px 70px;
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.aus_enq .mntry {
margin-top: 23px;
}
.aus_enq a:not(.btn),.aus_enq a:not(.btn):link,.aus_enq a:not(.btn):active{
border-bottom: none;	
}
.aus_enq .enq_pg #subButton {
color: #fff;
border-color: #471336;
background: #471336;
}
.aus_enq .enq_pg .sbn.cncl,.aus_enq .enq_pg #subButton,.cs_aus.aus_enq .hcl .tb_cl .cll,.cs_aus.aus_enq .tb_cl .cll,.cs_aus.aus_enq .tb_cl .cllr,.cs_aus.aus_enq .prs .cgd{
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.aus_enq .enq_pg #subButton:hover {
color: #fff;
border-color:#350E28;
background:#350E28;
}
.aus_enq.padding-bottom-full {
padding-bottom: 40px;
padding-top: 40px;
}
.cs_aus.sr_dtl .cr_mid th,.cs_aus.sr_dtl .cr_mid td{
    padding: 15px;	
}
/*#find #hc_srch #mid_wrp{
    display: none;	
} */
#hc_srch .sr_tit{
    font-size: 45px;
    font-weight: normal;	
}
#find #hc_srch p{
  font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	 	
}
.cs_aus.sr_dtl #hc_srch .slr_tbl td,.cs_aus.sr_dtl .cr_mid p,.cs_aus.sr_dtl .cr_mid ol,.cs_aus.sr_dtl .cr_mid ul{
	font-size: 16px;
}

#find.cs_aus.sh_rst.no_rst{
border-bottom:1px solid #e5e5e5;
}
.cs_aus.aus_enq .prs .cgd{
font-size: 18px;
}
.sh_rst #mid_wrp{
padding: 0;
margin: 0;
max-width: 100%;	
}
.sh_rst .cmn_wrp {
margin: 0 auto;
padding: 40px 0px;
font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}

.cs_aus.bg-shade.align-center.intro .main.max-width750.align-center p a{
    border-bottom: 1px solid #222!important;	
}
.sh_rst .vi_bt{
color: #000;
border-color: #A5905B;
background: #A5905B;
border-bottom: none!important;	
}
.sh_rst .log_wrp .vi_bt.vi_all {
background: #a9b6be; 
}
.sh_rst .artPg .nxt a:hover,.sh_rst .artPg ul li.active,.artPg ul li:hover{
opacity:0.8;
}
.sh_rst a:not(.btn),.sh_rst a:not(.btn):link,.sh_rst a:not(.btn):active{
border-bottom: none;	
}
.sh_rst .artPg .nxt a,.sh_rst .artPg ul li.active,.artPg ul li:hover{
color: #fff;
    background: #333;
}
/* new css ends here */
/* Institution_search_results css starts here */
.sh_rst.in_spg .btns .vi_bt.vi_all {
background: #a9b6be;
}
#hc_srch .sr_p.lst_sr{
margin: 0;	
}
#hc_srch .artPg ul {
margin: 15px auto 15px;
padding: 0;
float: left;
width: 100%;
}
#hc_srch .pr_pagn {
border-top: 1px solid #ccc;
padding-top: 18px;
padding-bottom: 19px;
}
#find.padding-top-full{
padding-top: 0!important;	
}
#hc_srch,#hc_srch .cmn_wrp .cd_tit,#hc_srch .slr_tbl td{
font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;
}
.brd_crm.aus_bdm.whi_bg{
background: #fff;	
padding: 22px 0 10px;
}
.aus_enq .wrp {
border-bottom:1px solid #e5e5e5;
}
.cs_aus.aus_enq .hcl .enq_hdr {
padding: 0 0 6px 0;
}
.cs_aus.aus_enq .hcl {
border: 0px solid #ccc;
}
#hc_srch .slr_tbl td,.cs_aus.sr_dtl .cr_mid ul,.cs_aus.sr_dtl #hc_srch .slr_tbl td,.cs_aus.sr_dtl .cr_mid p, .cs_aus.sr_dtl .cr_mid ol, .cs_aus.sr_dtl .cr_mid ul,.cs_aus .adrs address{
line-height: 28px;
}
.cs_aus.sr_dtl .mrvnu.rel_fld:before{
content: "\e800";
font-family: 'fontello';
font-size: 150%;
text-indent: 0;
top: 8px;
right: 2px;
padding: 0;
margin: 0;
line-height: 100%;	
}
.cs_aus.sr_dtl .cr_mid .rel_fld {
padding: 10px 35px 10px 10px;
}
.cs_aus.sr_dtl .cmn_wrp,.cs_aus.aus_enq .cmn_wrp{
padding:40px 0px;
} 
.cs_aus.sr_dtl .container,.cs_aus.aus_enq .container {
padding-right: 4px;
padding-left: 4px;
}
.cs_aus.aus_enq .enq_msg a:hover{
border-bottom: 1px solid #222!important;
}
.cs_aus.aus_enq .enq_msg a
 {
border-bottom:none;
 }

.cs_aus.sr_dtl .prtp {
padding-bottom: 40px;
}
.cs_aus.sr_dtl .mrvnu.rel_fld:hover::before {
color: #ED9B30;
}
.cs_aus .bk_sr .lft_arr {
top: -6px;
left: -20px;
position: absolute;
}
.cs_aus.sr_dtl .cd_pg .tb_cl .cllr,.cs_aus.sr_dtl .cd_pg .tb_cl .cll{
font-family: "AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;	
}
.cs_aus.sr_dtl .container .row,.cs_aus.aus_enq .container .row{
margin-right: 0;
margin-left: 0;
}
@media only screen and (max-width:768px){
.cs_aus.sr_dtl .container .row{
margin-right: 0;
margin-left: 0;
}
/* #find.cs_aus.sh_rst #hc_srch .mid_wrp {
    padding: 0 20px!important;
} */
#find #hc_srch .mid_wrp {
    padding: 0 0px!important;
}
}
/* Institution_search_results css ends here *//* css for footer changes starts here */
.cs_aus.bg-shade.align-center.intro .container.sec2{
margin: 0;
width: 100%;
padding: 0;
max-width: inherit;
background: #fff;
}
.cs_aus.bg-shade.align-center.intro .container.sec2 .row{
padding:60px 0;
}
.cs_aus.bg-shade.align-center.intro .container.sec1{
margin-bottom:60px;
}
.intro .container.sec2::after{
background: none;
margin: 0;
width: inherit;
height: inherit;	
}
.padding-bottom-full.cs_aus.bg-shade.align-center.intro{
padding-bottom: 0;
border-bottom: 1px solid #e5e5e5;
}
#hc_srch .mid_wrp ol li::before{
left: -17px;
}
.hmenu.menu46.muct .moved{
display:none;
}
#find #hc_srch .adrs address{
padding: 10px;
background: #EEEEF0;
margin: 0 2% 20px 0;
font-style: normal;
width: 48%;
float: left;
min-height: 160px;	
}

#main-nav .hmenu.menu46.muct>li>.toggle {
display: none;
}
#main-nav .hmenu.menu46.muct>li>.toggle::after {
content: "\f078";
font-family: FontAwesome;
font-weight: 900;
color: #222;
font-size: 12px;
padding-left: 5px;
}
@media only screen and (min-width :768px) and (max-width :1024px){
.navbar.bg-section.stick .icon-menu{
    position: absolute;
    top: 31px!important;
    right: 30px;
    margin: 0;	
}
#find #hc_srch .mid_wrp {
    padding: 0!important;
}
#hc_srch .onl_oly_wrp{height: 115px !important}
#hc_srch .fr_tb .slv {width: 100%;margin-bottom: 20px;}	
	.fld .slv1{display: block;text-align: center;margin-bottom: 20px;}
	.fld .slv.flT{margin-bottom: 50px !important;position: relative;}
	.fld .slv13 {position: absolute;left: 50%;padding-top: 13px;font-size: 14px;text-align: center;margin-top: 50px;}
	#hc_srch .srch .sbn{width: 100%;margin-bottom: 20px;}
	input#subKwButton {margin-top: 20px;}
	#hc_srch .hdn_lnk {float: left;margin-bottom: 0 !important;margin-top: 30px;display: contents;}
	#hc_srch #courseTabContent input.sbn{top: 0px !important;margin-top: 0px !important;}
	.slv13.flG{margin-top: 125px;}
	#hc_srch .srch .fld .sbn {margin-top: 20px;}}
@media (max-width: 991px) and (min-width: 0){	
#main-nav .hmenu.menu46.muct>li>a{width:calc(100% - 40px);}
#main-nav .hmenu.menu46.muct>li>.toggle::after {padding: 0!important;width: 20px;height: 20px;text-align: center;line-height: 20px;display: block;right: 21px;top: 10px;position: absolute;}
#main-nav .hmenu.menu46.muct>li>.toggle {display: block;float: right;width: 20px;height: 20px;}
#main-nav .hmenu.menu46.muct>li>.toggle.open::after {content: "\f077";padding-right: 5px;padding-left: 0;}}

@media only screen and (max-width:768px){
.hmenu.menu46.muct .moved{display:block;}}
#find.cs_aus.aus_enq #hc_srch #mid_wrp{padding: 0!important;}
/* online only check pod css start*/
#hc_srch .onl_oly label{padding: 10px 5px 0 30px;font-size: 13px;margin-bottom: 0px;}
#hc_srch .onl_oly .chbxh[type="checkbox"]:not(:checked)+label:before, #hc_srch .onl_oly .chbxh[type="checkbox"]:checked+label:before,#hc_srch .onl_oly .chbxh[type="checkbox"]:not(:checked)+label img{left: 0px;}
#hc_srch .onl_oly label:hover:before, #hc_srch .onl_oly .chbxh[type="checkbox"]:focus+label:before {border-color: #173F35 !important;}
#hc_srch .onl_oly .chbxh[type="checkbox"]:checked+label img{transform: scale(1);opacity: 1;left: 0px;}
#hc_srch .onl_oly_wrp {position: relative;top: 10px;clear:both;height: auto !important;margin-bottom: 30px;}
@media only screen and (max-width:768px){
	#hc_srch #courseTabContent input.sbn {position: relative;top: 20px;}
	#hc_srch .onl_oly_wrp {height: auto;top:auto;margin-bottom: 30px;}}
/* online only check pod css end*/

/* three checkbox update starts here */
.onl_oly{margin-right: 10px;display: inline-block;height: 45px;position: relative;}
.onl_oly.cmblt{margin-right: 8px;}
.onl_oly.cmblt.mAr_00{margin-right: 0;}    
@media only screen and (min-width :320px) and (max-width :767px){
.onl_oly.cmblt{margin-top: 5px;}
.onl_oly{display: block;}
/* #hc_srch #courseTabContent input.sbn{top: 130px;} */
.fld .slv1{display: block;text-align: center;margin-bottom: 20px;}
.fld .slv.flT{position: relative;margin-bottom: 50px !important;}
.fld .slv13 {position: absolute;left: 48%;padding-top: 60px;font-size: 14px;text-align: center;}}
@media only screen and (max-width: 320px){
#hc_srch #courseTabContent input.sbn{position: relative;top: 35px;}}
/* three checkbox update ends here */ 
/* Course finder page css ends here */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* Live fixes */
#hc_srch a.txt_cnt{text-decoration:none;border:none !important;}
.slv13{float: left;padding-top: 12px;font-size: 14px;margin-right: 10px;}

.onl_oly .hde_blk,.onl_oly_chk .hde_blk{left: 30px;position: absolute;background-color: #fff;padding: 10px;top: 40px;font-size: 12px;border: 1px solid #000;width: 250px;height: auto;z-index: 999999;border-radius: 5px;}
#hc_srch .onl_oly.cmblt.lky label:hover:before, #hc_srch .onl_oly.cmblt.lky .chbxh[type="checkbox"]:focus+label:before {border-color: #bdbdb9 !important;
    background-color: #d4d2d2 !important;}
.onl_oly.cmblt.lky label:before {background-color: #d4d2d2 !important;cursor: not-allowed;border-color: #bdbdb9 !important;}
.onl_oly.cmblt.lky label img{display: none;}
@media only screen and (min-width :320px) and (max-width :767px){
.slv.l2.as {margin-bottom: 0px !important;}
.fld .slv13.flG{margin-top: 77px;}
.slv.flT.flG{margin-top: 20px !important;}}
@media only screen and (min-width :1025px) and (max-width :1140px){
	#hc_srch .onl_oly_wrp{margin-bottom: 30px;}
	#hc_srch .srch .fld .sbn {margin-top: 20px;	}
}
.hc_s .slv{width:236px;float:left;margin-bottom:5px}
.hc_s.srch .pwb{margin-top:25px}
.hc_s.srch .pwd_cont{float:right}
.srh_rit{margin-left:20px;float:left}
.hc_s .slv input.sbx{background-position:right center;padding-right:25px}
.srh_rit .sbn{padding:10px}
.ck_pd{position:absolute;top:51px;left:0;border:1px solid #bdbdb9;border-top:0;width:100%;z-index:99;background:#fff;box-sizing:border-box!important}
.tp_ins{left:-9999px}
.chbxh[type="checkbox"]:not(:checked),
.chbxh[type="checkbox"]:checked{position:absolute;left:-9999px}
.chbxh[type="checkbox"]:not(:checked) + label,
.chbxh[type="checkbox"]:checked + label{position:relative;cursor:pointer}
.chbxh[type="checkbox"]:not(:checked) + label:before,
.chbxh[type="checkbox"]:checked + label:before{content:'';position:absolute;left:10px;top:12px;width:20px;border-radius:4px;height:20px;border:2px solid #bdbdb9;background:#fff}
/* .chbxh[type="checkbox"]:checked + label:before{border-color:#24408e !important} */
.chbxh[type="checkbox"]:not(:checked) + label img,
.chbxh[type="checkbox"]:checked + label img{position:absolute;top:5px;left:10px;transition:all .2s;width:30px}
.srch .sbs::-moz-placeholder{line-height:30px}
.chbxh[type="checkbox"]:not(:checked) + label img{transform:scale(0);opacity:0}
.chbxh[type="checkbox"]:checked + label img{transform:scale(1);opacity:1}
#hc_srch .sbn.cncl{border-bottom:none!important;}
#find.padding-top-full.padding-bottom-full{background: #fff;}
.cs_aus.sr_dtl #hc_srch .cr_mid p a{text-decoration: underline;}
.cs_aus.sr_dtl #hc_srch .cr_mid p a:hover{text-decoration: none;}
#hc_srch p{font-family:"AU-Text-Regular","Helvetica Neue",helvetica,arial,sans-serif;}
.srch .mid_wrp {min-height: inherit !important;}
#hc_srch .srch_bar .srch_tab {border-bottom: 3px solid transparent;}
#hc_srch .srch_bar .srch_tab {margin-right: 41px;}
#find.padding-top-full.padding-bottom-full {padding-top: 0px !important;}
section#Vid {padding-bottom: 0px !important;padding-top: 0px !important;}
.onl_oly.cmblt {margin-right: 9px;}
.chbxh{float:left;margin-top:3px}
.frm_ck label:hover:before,.chbxh[type="checkbox"]:focus + label:before{border-color:#24408e !important}
.frm_ck label:hover:before{border-color:#24408e !important}
.chk_grp label{padding:10px 10px 14px 40px;margin:0;font-size:15px;width:100%;font-weight:400;text-transform:inherit;line-height:26px;display:block}
.frm_ck{width:100%;float:left}
.chk_grp{float:left;width:100%}

@media screen and (device-aspect-ratio: 40/71) {.col_md_3{width: 90%};.col_md_9{width: 90%;}}